<div id="faq">
  <div>
    <span class="title">{{faq.payment}}</span><br>
    <span class="heading">Как будет проходит оплата?</span>
    <p>{{faq.paymentDescription}}</p>
    </div>
  <div>
    <span class="title">{{faq.information}}</span><br>
    <span class="heading">Что входит в услуги сервиса</span>
    <p>{{faq.informationDescription}}</p>
  </div>
  <div>
    <span class="title">Гарантии</span><br>
    <span class="heading">{{faq.guarantee}}</span>
    <p>{{faq.guaranteeDescription}}</p>
     </div>
</div>
