<div id="accSetting">
  <h1><span>Безопасность</span></h1>
  <h3 id="inf">Изменение пароля и привязка к номеру телефона</h3>
  <table>
    <tr>
      <td>Старый пароль</td>
      <td><input type="password" name="password" placeholder="Введите старый пароль"></td>
    </tr>
    <tr>
      <td>Новый пароль</td>
      <td><input type="password" name="password" placeholder="Введите новый пароль"></td>
    </tr>
    <tr>
      <td>Повторите новый пароль</td>
      <td><input type="password" name="password" placeholder="Повторите новый пароль"></td>
    </tr>
  </table>
</div>
