#userInfo {
  float: left;
  background-color: #f6f6f6;
  border-top: 2px solid silver;
  color: #484848;
  font-size: 1.3em;
  text-align: center;
}

@media (min-width: 1401px) {
  #userInfo {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #userInfo {
    padding: 100px 10%;
    width: 80%;
  }
}
table {width: 100%; border-collapse: collapse;font-family: 'Didact Gothic', sans-serif; color:#555;}
table thead tr {color: #ffffff; font-weight: bold; background: rgb(119, 122, 120);}
table thead tr td {border: 1px solid rgb(119, 122, 120);}
table tbody tr td {height:50px;border: 1px solid #e8e9eb;text-align: left;}
table tbody tr:nth-child(2n) {background: #f4f4f4;}
table tbody tr:hover {background: #ebffe8;}

input[type="text"],input[type="password"]{
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  height:40px;
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 30px;
  padding-left: 10px;
}


