<div id="main">
  <div class="div1">
    <h2>Наши услуги помогут вам!</h2>
    <span>Большой выбор всего, что может вам пригодиться</span>
  </div>
  <div class="div1">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit, ut vero commodi voluptate? Ipsam reiciendis, necessitatibus incidunt ipsa quis sapiente excepturi, optio iusto voluptatibus dolorem officia quidem, numquam eaque minus, autem praesentium rem architecto dolores. Ipsa unde id velit optio magni enim! Illum obcaecati, dolorem distinctio nemo, ipsum iure.</span>
  </div>
</div>

<div id="main">
  <div class="dash">
    <div class="div">
      <h1><a href="#service" title="Сервисы">{{service.nameService}}</a></h1>
    </div>
    <div class="div">
      <span>{{service.descriptionService}}</span>
    </div>
    <div>
      <a href="#" class = "btn">Подписаться за {{service.priceOfService}}$/30 дней</a>
    </div>
  </div>
  <div class="dash">
    <div class="div">
      <h1>Logaster</h1>
    </div>
  </div>
</div>
