<div id="service">
  <h1><span>Сервисы</span></h1>
  <h3 id="inf">Информация о подписках</h3>
  <table>
    <thead>
    <tr>
      <td>Подключенные сервисы</td>
      <td>Дата окончания подписки</td>
      <td>Цена</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{connectedService.nameService}}</td>
      <td>22.03.2019</td>
      <td>{{connectedService.priceOfService}}$</td>
    </tr>
    <tr>
      <td>Имя #2</td>
      <td>Характеристики</td>
      <td>Стоимость</td>
    </tr>
    <tr>
      <td>Имя #3</td>
      <td>Характеристики</td>
      <td>Стоимость</td>
    </tr>
    </tbody>
  </table>
</div>
